[submodule ".emacs.d/modes/magit"]
	path = .emacs.d/modes/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/modes/anything"]
	path = .emacs.d/modes/anything
	url = git://repo.or.cz/anything-config.git
[submodule ".emacs.d/modes/deft"]
	path = .emacs.d/modes/deft
	url = git://jblevins.org/git/deft.git
[submodule ".emacs.d/modes/org-mode"]
	path = .emacs.d/modes/org-mode
	url = git://orgmode.org/org-mode.git
