[submodule ".emacs.d/modes/magit"]
	path = .emacs.d/modes/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/modes/anything"]
	path = .emacs.d/modes/anything
	url = git://repo.or.cz/anything-config.git
